body {
  //background: $cream;
  color: $dark;
}

header {
  overflow: hidden;
  text-align: center;
}

main > section {
  //background: rgba(255, 255, 255, .8);
  clear: both;
  margin-bottom: 50px;
  //max-width: 60%;
  overflow: hidden;
  padding: 20px 20px 50px;
}

.highlight {
  background: rgba(255, 255, 255, .9);
  margin-bottom: 50px;
  margin-left: 0;
	max-width: 600px;
	padding: 0 20px 20px;
  position: relative;

  @media(min-width: $bp-small-med) {
    margin-left: 40px;
  }

  .cta-link {
    position: absolute;
    right: 10px;
  }

  &.right {
    float: right;

    @media(min-width: $bp-small-med) {
      margin-right: 40px;
    }
  }
}

.commonplace {
  background: url(/assets/images/lido-architect-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 105px;

  @media(min-width: $bp-small-med) {
    background-image: url(/assets/images/lido-architect.jpg);
  }
}



.faqs {
  margin: 0 auto;
  max-width: 600px;
}

.questions {
  list-style: none;
  padding: 20px 0 0 0;

  li {
    margin-bottom: 40px
  }
}

.social-channels {
  background-image: url(/assets/images/lido-group-mob.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 120px;

  @media(min-width: $bp-small-med) {
    background-image: url(/assets/images/lido-group.jpg);
  }

  .highlight {
    margin-left: auto;
    margin-right: auto;
  }
}

.js-show-on-scroll--transition {
  transition: .3s all ease;
}

.js-show-on-scroll {
  opacity: 1;

  &--hidden {
    opacity: 0 !important;
    pointer-events: none;
    transform: translateY(56px);

    @media(min-width: $bp-small-med) {
      transform: translateX(56px);
    }
  }
}
