.back-to-top {
  backface-visibility: hidden;
  background: rgba(100,100,100,.8);
  bottom: 0;
  box-sizing: border-box;
  color: rgba(255,255,255,.8);
  font-size: 1.5rem;
  line-height: 53px;
  padding: 0 12px;
  position: fixed;
  right: 0;
  text-align: center;
  width: 53px;

  @media(min-width: $bp-small-med) {
    bottom: 10px;
    right: 0;
  }

  &:hover {
    //background-color: darken($grey, 10%);
    background: rgba(100,100,100,1);
    color: $white;
    opacity: 1;

    i {
      transform: translateY(-3px);
    }
  }

  i {
    transition: .3s all ease;
  }
}
