.footer {
  background: rgba(0,0,0,.7);
  box-sizing: border-box;
  color: $white;
  height: 143px;
  margin-top: -143px;
  overflow: hidden;
  padding: 30px 20px 30px;
}

.copyright {
  padding: 30px 0 0 0;
  text-align: center;

  p {
    color: darken($white, 10%);
    font-family: $serif;
    font-size: .8rem;
    font-weight: normal;
    margin: 0;

    &:first-child {
      font-size: 1.1rem;
      margin-bottom: .5rem;
    }
  }

  a {
    color: $white;

    &:hover {
      text-decoration: none;
    }
  }
}
