.news-list {
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: center;
  column-count: 1;
  list-style: none;
  margin: 0 auto;
  max-width: 500px;
  padding: 0;

  @media(min-width: $bp-small) {
    column-count: 2;
    max-width: 900px;
  }

  @media(min-width: $bp-med) {
    column-count: 3;
  }
}

.news-card {
  break-inside: avoid;
  margin: 20px 20px 40px;

  padding-bottom: 20px;
  perspective: 600px;
  position: relative;

  @media(min-width: $bp-small) {
    max-width: 300px;
  }

  &__link {
    backface-visibility: hidden;
    background: $white;
    display: block;
    padding: 20px 20px 40px;

    text-decoration: none;
    transition: .3s all ease;

    &:hover {
      box-shadow: 0 1px 2px rgba(50, 50, 50, 0.5);
      transform: translateZ(10px);

      .news-card__cta  {
        background-color: darken($orange, 10%);
      }
    }
  }

  &__publisher {
    color: $dark;
    font-family: $sans-serif;
    text-transform: uppercase;
  }

  &__title {
    color: $dark;
    font-family: $serif;
    font-size: 1.6rem;
    text-transform: none;
  }

  &__cta {
    background: $orange;
    color: $white;
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
    right: 10px;
  }
}
