.social-sharing {
  display: none;
  position: fixed;
  right: 0;
  top: 20vh;

  @media(min-width: $bp-small-med) {
    display: block;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__link {
    display: block;
    text-align: center;
    text-decoration: none;
    transform: translateX(15px);
    transition: .3s all ease;
    width: 70px;

    &:hover {
      transform: translateX(0);
    }

    .fa {
      background: $grey;
      color: $white;
      display: block;
      font-size: 1.7rem;
      padding: 13px 26px 13px 13px;
      pointer-events: none;
    }

    .fa-facebook {
      background: $facebook-blue;
    }

    .fa-twitter {
      background: $twitter-blue;
    }
  }
}
