.supporters {
  column-count: 2;
  column-gap: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  list-style: none;
  padding: 0;
  text-align: left;

  @media(min-width: $bp-x-small) {
    column-count: 3;
  }

  @media(min-width: $bp-small-med) {
    column-count: 4;
  }

  @media(min-width: $bp-med) {
    column-count: 6;
  }

  @media(min-width: $bp-large) {
    column-count: 8;
  }

  li {
    display: block;

    /*
    &:after {
      content: ', ';
    }

    &:last-child:after {
      content: '';
    }*/
  }

  &--main {
    column-count: 1;
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-align: center;

    li {
      display: inline-block;

      &:after {
        content: ', ';
      }

      &:last-child:after {
        content: '';
      }
    }
  }
}
