$white: #fff;
$black: #000;
$turquoise: #57a399;
$dark: #212516;
$orange: #cf732a;

$about-bg: #888;//#d7aa85;
$battleship-grey: #46464e;

$grey: rgb(132, 132, 132);


$facebook-blue: rgb(59, 89, 152);
$twitter-blue: rgb(29, 161, 242);
